#### 1 - Escreva uma função que receba uma lista de números e retorne outra lista com os números ímpares.

In [1]:
def filtrar(lista):
    return [num for num in lista if num % 2 != 0]

print(filtrar([1, 2, 3, 4, 5, 6, 7]))

[1, 3, 5, 7]

#### 2 - Escreva uma função que receba uma lista de números e retorne outra lista com os números primos presentes.

In [2]:
def primo(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

def filtrar_primo(lista):
    return [num for num in lista if primo(num)]

print(filtrar_primo([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]))

[2, 3, 5, 7, 11, 13]

#### 3 - Escreva uma função que receba duas listas e retorne outra lista com os elementos que estão presentes em apenas uma das listas.

In [3]:
def listas(lista1, lista2):
    return list(set(lista1) ^ set(lista2))

print(listas([1, 2, 3, 4], [3, 4, 5, 6]))

[1, 2, 5, 6]

#### 4 - Dada uma lista de números inteiros, escreva uma função para encontrar o segundo maior valor na lista.

In [4]:
def segundo_maior(lista):
    lista_unica = list(set(lista))
    if len(lista_unica) < 2:
        return None
    lista_unica.sort(reverse=True)
    return lista_unica[1]

print(segundo_maior([10, 5, 8, 20, 20, 3]))

10

#### 5 - Crie uma função que receba uma lista de tuplas, cada uma contendo o nome e a idade de uma pessoa, e retorne a lista ordenada pelo nome das pessoas em ordem alfabética.

In [5]:
def ordenar_por_nome(lista):
    return sorted(lista, key=lambda x: x[0])

print(ordenar_por_nome([("João", 25), ("Ana", 30), ("Carlos", 22)]))

[('Ana', 30), ('Carlos', 22), ('João', 25)]

#### 6 - Como identificar e tratar outliers em uma coluna numérica usando desvio padrão ou quartis?

In [6]:
import pandas as pd

df = pd.DataFrame({'valores': [10, 12, 13, 14, 15, 16, 18, 20, 100, 410, 350, 500, 800]})

def remover_outliers_desvio(df, coluna):
    media = df[coluna].mean()
    desvio = df[coluna].std()
    limite_inf = media - 1 * desvio
    limite_sup = media + 1 * desvio
    filtro = (df[coluna] >= limite_inf) & (df[coluna] <= limite_sup)
    return df.loc[filtro]

resultado = remover_outliers_desvio(df, 'valores')
print(resultado)

    valores
0        10
1        12
2        13
3        14
4        15
5        16
6        18
7        20
8       100
9       410
10      350

#### 7 - Como concatenar vários DataFrames (empilhando linhas ou colunas), mesmo que tenham colunas diferentes?

In [7]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'B': [5, 6], 'C': [7, 8]})

concat_linhas = pd.concat([df1, df2], axis=0)

concat_colunas = pd.concat([df1, df2], axis=1)

print("Concatenação por linhas:\n", concat_linhas)
print("\nConcatenação por colunas:\n", concat_colunas)

Concatenação por linhas:
      A  B    C
0  1.0  3  NaN
1  2.0  4  NaN
0  NaN  5  7.0
1  NaN  6  8.0

Concatenação por colunas:
    A  B  B  C
0  1  3  5  7
1  2  4  6  8

#### 8 - Utilizando pandas, como realizar a leitura de um arquivo CSV em um DataFrame e exibir as primeiras linhas?

In [ ]:
import pandas as pd

df = pd.read_csv('nome-dataset.csv')

print(df.head())

#### 9 - Utilizando pandas, como selecionar uma coluna específica e filtrar linhas em um “DataFrame” com base em uma condição?

In [9]:
import pandas as pd

df = pd.DataFrame({'nome': ['Ana', 'Bruno', 'Carla', 'Diego'], 'idade': [28, 35, 22, 40]})

filtro = df[df['idade'] > 30]['idade']

print(filtro)

1    35
3    40
Name: idade, dtype: int64

#### 10 - Utilizando pandas, como lidar com valores ausentes (NaN) em um DataFrame?

In [10]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, np.nan, 8],
    'C': [9, 10, 11, 12]
})

df.isna() # Identificando valores ausentes 

df_removido = df.dropna() # Pode-se remover os valores ausentes

df_preenchido = df.fillna(0) # Pode-se preencher valores ausentes com um valor (ex: 0)

print("\nDataFrame sem NaN:\n", df_removido)
print("\nDataFrame com NaN preenchido:\n", df_preenchido)

DataFrame sem NaN:
      A    B   C
0  1.0  5.0   9
3  4.0  8.0  12

DataFrame com NaN preenchido:
      A    B   C
0  1.0  5.0   9
1  2.0  0.0  10
2  0.0  0.0  11
3  4.0  8.0  12